# Environment
.env
.env.*
!.env.example

backend/.env
frontend/.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.venv/
venv/

# Database
*.db
*.sqlite3

# Logs
*.log

# VS Code
.vscode/

# Frontend
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db